:root {
    --primary: rgb(141, 203, 214);
    --secondary: rgb(31, 78, 87);
    --accent: rgb(50, 124, 138);
    --base: rgb(131, 154, 158);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary);

}

p {
    font-family: 'Vollkorn', serif;
    color: var(--secondary);
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Vollkorn', serif;
    font-weight: 800;
    color: var(--primary);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 100px;
}

#subtitle {
    font-size: 60px;
}

#headerLine {
    max-width: 1200px;
    min-width: 350px;
    width: 85%;
    padding: 0px;
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

#About {
    background-color: var(--primary);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    align-items: stretch;
    height: 75vh;
    width: 45%;
}

.bio {
    width: 56%;
    padding: 2%;
}

.profile {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#profilePhoto {
    padding: 10px;
    max-width: 100%;
}

.socialLinks {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    width: 50%;
}

.icon {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#Projects {
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    justify-content: space-evenly;
}

.project {
    width: 40%;
    min-width: 400px;
    height: 30%;
    min-height: 200px;
    border:2px solid rgb(141, 203, 214);
    display: flex;
    border-radius: 15px;
    position: relative;
}

.projImgBox {
    width: 100%;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
    filter: brightness(35%);
}

.projectImage:hover {
    filter: brightness(15%);
    cursor: pointer;
}

.projTitleBox {
    position: absolute;
    top: 40%;
    width: 70%;
    left: 15%;
}

.projectTitle {
    text-align: center;
    font-size: 24px;
}

.projectLink {
    width: 100%;
    height: 100%;
}

#menu {
    display: none;
    justify-content: center;
    width: 100%;
}

button {
    width: 40%;
    height: 50px;
    background-color: var(--base);
    color: var(--secondary);
}


#aboutButton {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--accent);
    color: var(--primary);
}

#projectsButton {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media only screen and (max-width: 1220px) {
    #title {
        font-size: 30px;
    };
}

@media only screen and (max-width: 1220px) {
    #subtitle {
        font-size: 24px;
    }
    #Projects {
        display: none;
        width: 95%;
        align-items: center;
    }
    #About {
        width: 95%;
    }
    #menu {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .project {
        max-width: 400px;
    }
}

@media only screen and (max-width: 700px) {
    #About {
        flex-direction: column;
    }
    .profile {
        width: 100%;
    }
    .bio {
        width: 100%
    }
    #profilePhoto {
        width: 150px;
    }
    p {
        font-size: 12px;
    }
    #Projects {
        flex-flow: column;
    }
    .project {
        width: 100%;
    }
}